.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.body {
  padding: 12px 15px 32px;
}

.card {
  background-color: #fff;
  margin-bottom: 16px;
}

.addButton {
  width: 100%;
}
