.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.snsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #f5d418;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
  height: 44px;
}

.icon {
  width: 20px;
  height: 20px;
}