.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.searchInput {
    border: none;
    padding: 0 10px;
    outline: none;
    flex-grow: 1;
    font-size: 0.8rem;
}

.searchButton {
    background-color: #f5f5f5;
    border: none;
    padding: 0 12px;
    cursor: pointer;
    height: 100%;
}

.searchButton:hover {
    background-color: #e0e0e0;
}