.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 */
  gap: 12px;
  padding: 16px 0;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}


.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.key {
  background-color: #e8edf3;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
  place-items: center;
}

.delete {
  background-color: #e8edf3;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
  place-items: center;
}

.deleteAll {
  background-color: #e8edf3;
  border: none;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
  place-items: center;
}

.key:hover {
  background-color: #d7e0eb;
}

.special {
  font-size: 16px;
  color: #ccc;
}
