.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  align-items: flex-start; 
  padding: 2.5rem 2.5rem;
  gap: 5rem;
  margin-left: 10rem;
}

.content {
  flex: 1;
  min-width: 0; 
  background-color: #fff;
  margin-right: 10rem;
}
